@charset "UTF-8";

:root {
    --color-black: rgb(10, 10, 10);
    --color-white: rgb(255, 255, 255);
    --color-gray: rgb(238, 238, 238);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    color: var(--color-white);
    font-weight: 500;
    font-style: normal;
    font-size: 6.5dvw;
    letter-spacing: -0.04em;
    background-color: var(--color-black);
    overflow-x: hidden;
}

@media (min-width: 600px) {
    body {
        font-size: 2.5vw;
    }
}


/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    /*max-width: 100%;*/
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
    line-height: 1.65;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    height: inherit;
    color: var(--color-white);
    text-decoration: none;
}
a.underline {
    text-decoration: none; /* 기본적으로 밑줄 없애기 */
    position: relative;    /* 위치 설정을 위한 relative */
    transition: color 0.5s ease; /* 색상 변경 시 애니메이션 */
}

a.underline::after {
    content: '';           /* 빈 컨텐츠 */
    position: absolute;
    bottom: 0;             /* 링크의 아래쪽에 위치 */
    left: 0;
    width: 100%;
    height: 2px;           /* 밑줄 두께 */
    background-color: var(--color-white); /* 밑줄 색상 */
    transform: scaleX(0);  /* 밑줄이 보이지 않도록 scaleX(0) */
    transform-origin: bottom right; /* 애니메이션 시작 지점 */
    transition: transform 0.5s ease; /* 애니메이션 효과 */
}

a.underline:hover::after {
    transform: scaleX(1); /* hover 시 밑줄이 보이도록 scaleX(1) */
}
