body {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    z-index: 5;
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    font-size: 0.5em;
}
.nav .nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__logo {
    margin-right: auto;
}
.header .header__link {
    margin-left: 1rem;
    font-size: 50%;
}

/* Scroll Section */
.scroll-section {
    padding-top: 50dvh;
    overflow-y: hidden;
}
/* Sticky */
.current-scene-0 #ss__0 .sticky,
.current-scene-1 #ss__1 .sticky,
.current-scene-2 #ss__2 .sticky,
.current-scene-3 #ss__3 .sticky {
    display: block;
}
.sticky {
    display: none;
    position: fixed;
    top: 35dvh;
    left: 0;
    width: 100%;
}
.sticky.canvas_video {
    top: 0;
    height: 100%;
}
.sticky.canvas_video canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

.canvas_image {
    background-color: grey;
}

/* Scene 0 */
#ss__0 h1 {
    position: relative;
    z-index: 1;
    font-size: min(12dvw, 128px);
    text-align: center;
    padding-top: 35dvh;
}

.desc__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    text-align: center;
    opacity: 0;
}


/* General */
#ss__1 {
    font-size: max(2.5dvw, 24px);
}
#ss__1 p {
    color: var(--color-white);
}
#ss__1 p strong {
    float: left;
    font-size: max(6dvw, 64px);
    color: var(--color-white);
    margin-right: 0.2em;
}

#ss__2 .desc__main {
    font-size: 6dvw;
}
#ss__2 .desc__main small {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5em;
}

/* pin text */
#ss__2 .desc__pin {
    width: 50%;
    font-weight: 400;
    font-size: 50%;
    opacity: 0;
}
#ss__2 .desc__pin.text_b {
    top: 10%;
    left: 40%;
}
#ss__2 .desc__pin.text_c {
    top: 15%;
    left: 45%;
}
@media (min-width: 600px) {
    #ss__2 .desc__pin {
        width: 30%;
        font-weight: 600;
        font-size: 80%;
    }
    #ss__2 .desc__pin.text_b {
        top: 20%;
        left: 50%;
    }
    #ss__2 .desc__pin.text_c {
        left: 55%;
    }
}

#ss__2 .pin {
    width: 1px;
    height: 100px;
    background-color: var(--color-white);
}

/* Scene 3 */
#ss__3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ss__3 .desc__mid {
    color: var(--color-white);
}
#ss__3 .desc__mid strong {
    color: var(--color-white);
}
#ss__3 .canvas__caption {
    color: var(--color-white);
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav,
.header,
.scroll-section,
.footer {
    padding: 0.5rem;
}
@media (min-width: 600px) {
    .nav,
    .header,
    .scroll-section,
    .footer {
        padding: 1rem;
    }
}