body {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    font-size: 0.5em;
}
.nav .nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__logo {
    margin-right: auto;
}
.header .header__link {
    margin-left: 1rem;
    font-size: 50%;
}

/* Scroll Section */
.scroll-section {
    padding-top: 50dvh;
    border: 1px solid #888;
}

#ss__0 h1 {
    font-size: min(12dvw, 120px);
    text-align: center;
}

.desc__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    text-align: center;
}

/* General */
#ss__1 p {
    color: #888;
}
#ss__1 p strong {
    float: left;
    font-size: max(6dvw, 64px);
    color: rgba(29, 29, 31);
    margin-right: 0.2em;
}

#ss__2 .desc__main {
    font-size: 2.5em;
}
#ss__2 .desc__main small {
    display: block;
    font-weight: 800;
    margin-bottom: 0.5em;
}
#ss__2 .desc__pin {
    width: 50%;
    font-weight: 800;
}
#ss__2 .pin {
    width: 1px;
    height: 100px;
    background-color: rgb(29, 29, 31);
}

#ss__3 .desc__mid {
    color: #888;
}
#ss__3 .desc__mid strong {
    color: rgb(29, 29, 31);
}

#ss__3 .canvas__caption {
    color: #888;
    text-align: center;
}

/* Sticky */
.current-scene-0 .sticky,
.current-scene-1 .sticky,
.current-scene-2 .sticky,
.current-scene-3 .sticky {
    display: block;
}
.sticky {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav,
.header,
.scroll-section,
.footer {
    padding: 0.5rem;
}
@media (min-width: 600px) {
    .nav,
    .header,
    .scroll-section,
    .footer {
        padding: 1rem;
    }
}